<!doctype html>
<title>flask-vue.js</title>

{% block head %}

<!--highlight.js https://highlightjs.org/-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/solarized-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% block script %}
<script src="{{ url_for('static', filename='js/vue.js') }}"></script>
{% endblock %}
{% block style %}{% endblock %}
{% endblock %}

<div id="app">
  <img height="200px" src="http://flask.pocoo.org/static/logo/flask.png">
  <img height="200px" src="https://jp.vuejs.org/images/logo.png">
  {% block body %}{% endblock %}
</div>
